/* Estilo Hambúrguer para despositivos móveis */

/* Estilo global*/
*{
    margin: 0px;
    padding: 0px;
    font-family: 'Courier New', Courier, monospace;
}

body{
    background-color: #f5f5f5;
}

/* Estilo do cabeçalho */
header{
    color: #E4F2E7;
    background-color: #2D3E40;
}

header h1{
    padding: 20px;
    font-size: 2.6em;
    text-align: center;
    text-shadow: 2px 2px 0px #00000081;
}

/* Estilo do menu */
span#burgue{
    padding: 10px;
}

span#burgue:hover{
    color: black;
    background-color: #E4F2E7;
}

menu{
    display: none;
}

menu ul{
    list-style-type: none;
}

menu ul li a{
    padding: 10px;
    display: block;
    color: #E4F2E7;
    text-decoration: none;
    background-color: #3a5153;
    border-top: 2px solid #425f63;
}

menu ul li a:hover{
    background-color: #496c70;
}

/* Estilo do conteúdo */
main{
    width: 90vw;
    margin: auto;
}

section{
    padding: 10px;
    margin-top: 10px;
}

section h2{
    padding: 14px;
    color: #444746;
    text-indent: 30px;
}

section p{
    text-indent: 30px;
    line-height: 22px;
    text-align: justify;
}

/* Conteúdo independente */
article{
    padding: 10px;
    border: 1px solid #97A6A0;
}

article h3{
    padding: 14px;
    text-indent: 30px;
}

/* Estilo do Rodapé */
footer{
    padding: 18px;
    color: #E4F2E7;
    text-align: center;
    font-weight: bolder;
    background-color: #2D3E40;
}

footer a{
    color: #E4F2E7;
    text-decoration: none;
}

footer a:hover{
    text-decoration: underline;
}